@charset "utf-8";
/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Chelsea+Market&display=swap');

/* Main body background */
body, html{
	height: 100%;
	margin: 0;
	scroll-behavior: smooth;
	background-image: linear-gradient(rgb(0, 0, 0), rgb(27, 27, 27), rgb(0, 0, 0));
	width: 100%;
}

/* Menu bar */
li, a, button{
	font-family: 'Chelsea Market', cursive;
	font-weight: 400;
	font-size: 20px;
	color: #edf0f1;
	text-decoration: none;
}

button {
	background-color: black;
	cursor: pointer;
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 100px 10px 20px;
}

.logo{
	cursor: pointer;
	width: 350px;
	height: 70px;
}

.nav_links{
	list-style: none;
}

.nav_links li{
	display: inline-block; /*Side by side*/
	padding: 0px 15px; /*0px top, 20px right*/
}

.nav_links li a{
	transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
	color: #7c4379;
}

/* Image containers */

.mainbg-text {
	position: absolute;
	left: 0;
	top: 49%;
	width: 100%;
	text-align: center;
	color: #000;
}
.mainbg-text span.border {
	background-color: #000;
	color: #fff;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 10px;
	font-family: 'Alatsi', sans-serif;
}

/* Navigate arrow down */

#arrowdown {
	position: absolute;
	left: 48.5%;
	top: 90vh;
	z-index: 1;
	height: 30px;
	width: 50px;
}

/* Index page */
#mainbg {
	display: flex;
	background-image: url("images/chainsmokers_indexbg.jpg"); 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	opacity: 60%;
	height: 86vh;
}
/* Latest News Section */
#latestalbum {
	height: 100vh;
	width: 100%;
}

.latesttext {
	position: relative;
	top: 40px;
	text-align: center;
	font-family: 'Chelsea Market', cursive;
	color: #FFFFFF;
	font-size: 40px;
}

.latestimg-container { 
	display: flex;
	justify-content: center;
	padding: 30px;
}

#latestimg {
	height: 600px;
	width: 600px;
}

/* Link Buttons */
.songbtn-container {
	display: flex;
	justify-content: center;
}

.songbtn {
	width: 100px;
	height: 40px;
	margin-left: 0.7em;
	cursor: pointer;
}

/* About Page */
#aboutbg {
	display: flex;
	background-image: url("images/chainsmokers_aboutbg.jpg"); 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	opacity: 60%;
	height: 86vh;
}

/* Footer */
footer{
	display: flex;
	background-color:black;
	margin-top: 6.5em;
	padding: 0.5em;
	color: white;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.sociallinks {
	margin-top: 40px;
}

.logosize {
	width: 30px;
	height: 30px;
	margin: 0px 10px 0px 10px;
}
/* Form */

/* Other */